@import "./common.scss";

// 常量
$imgPath: '../img/';
$pageSize: 1200;

// 页尾
footer {
    height: 466px;
    background: #242424;
    .footer-main {
        width: #{$pageSize}px;
        height: 380px;
        margin: 0 auto;
        @include flex(space-between);
        .company-info {
            padding-top: 50px;
            .company-logo {
                width: 128px;
                height: 42px;
                @include background('#{$imgPath}brand-v2.png');
            }
            .contact-way {
                padding-top: 14px;
                .cut-line {
                    width: 420px;
                    height: 1px;
                    @include background('#{$imgPath}footer-cut-line.png');
                    margin: 22px 0 20px;
                }
                p {
                    font-size: 14px;
                    color: #ffffff;
                    line-height: 1;
                    margin-bottom: 8px;
                    @include flex(flex-start, center);
                    &.tel {
                        font-size: 28px;
                        color: #008cd6;
                        margin: 4px 0 12px;
                    }
                    i {
                        width: 18px;
                        height: 18px;
                        &.icon-address {
                            @include background('#{$imgPath}icon-address.png');
                        }
                        &.icon-tel {
                            @include background('#{$imgPath}icon-tel.png');
                        }
                        &.icon-email {
                            @include background('#{$imgPath}icon-email.png');
                        }
                    }
                    span {
                        padding-left: 12px;
                    }
                    e {
                        font-size: 12px;
                    }
                }
            }
        }
        .navigation {
            padding-top: 60px;
            @include flex();
            .nav-list {
                @include flex-column(flex-start, flex-end);
                &.horizontal {
                    @include flex-column(flex-start, flex-start);
                    .nav-line {
                        margin-bottom: 0;
                    }
                }
                .nav-line {
                    width: 38px;
                    height: 2px;
                    background: #ffffff;
                    margin-bottom: 24px;
                }
                .nav-item {
                    width: 74px;
                    font-size: 16px;
                    color: #ffffff;
                    text-align: right;
                    margin-bottom: 18px;
                    cursor: pointer;
                }
                .icon-list {
                    @include flex();
                    margin-top: 26px;
                    i {
                        width: 44px;
                        height: 44px;
                        margin-left: 10px;
                        cursor: pointer;
                        &:first-child {
                            margin-left: 0;
                        }
                        &.icon-wb {
                            @include background('#{$imgPath}icon-wb.png');
                        }
                        &.icon-wx {
                            @include background('#{$imgPath}icon-wx.png');
                        }  
                        &.icon-qq {
                            @include background('#{$imgPath}icon-qq.png');
                        }                      
                    }
                }
            }
            .nav-list + .nav-list {
                margin-left: 130px;
            }
        }
    }
    .copyright {
        height: 86px;
        background: #1e1e1e;
        @include flex-column(center, center);
        p {
            font-size: 12px;
            color: #ffffff;
        }
    }
}