@import "./common/common.scss";
@import "./common/rest.scss";

// 常量
$imgPath: '../img/';
$pageSize: 1200;

body {
    background: #f2f2f2;
}

@import "./common/header.scss";

// view-claim
.view-claim {
    width: 100%;
    height: 400px;
    @include background('#{$imgPath}claim-banner.png');
    background-size: auto;
    .claim-wrapper {
        width: #{$pageSize}px;
        height: 400px;
        @include flex(flex-end, center);
        margin: 0 auto;
        .claim-box {
            width: 270px;
            height: 284px;
            margin-right: 20px;
            padding-top: 36px;
            background: #ffffff;
            .claim-img {
                @include flex(center);
                img {
                    width: 68px;
                    height: 68px;
                }
            }
            .claim-text {
                margin-top: 10px;
                text-align: center;
                @include font(16px, #161616);
                line-height: 1;
            }
            .claim-cut-line {
                margin-top: 14px;
                height: 1px;
                background: #f2f2f2;
            }
            .claim-main {
                padding: 0 32px;
            }
            .claim-btn-wrapper {
                margin-top: 10px;
                @include flex(space-between);
                @include font(14px, #ffffff, bold);
                .go-claim {
                    width: 96px;
                    height: 36px;
                    line-height: 36px;
                    @include background('#{$imgPath}go-claim-bg.png');
                    text-align: center;
                    cursor: pointer;
                }
                .query-claim {
                    width: 96px;
                    height: 36px;
                    line-height: 36px;
                    @include background('#{$imgPath}query-claim-bg.png');
                    text-align: center;
                    cursor: pointer;
                }
            }
            .claim-tips {
                margin-top: 8px;
                @include font(12px, #9e9e9e);
            }
            .claim-more-link {
                margin-top: 26px;
                @include font(14px, #008cd6);
                @include flex(flex-end, center);
                .icon-claim-question {
                    width: 14px;
                    height: 14px;
                    @include background('#{$imgPath}icon-claim-question.png');
                }
                span {
                    margin-left: 6px;
                }
            }
        }
    }
}

// 面板
.pannel {
    width: #{$pageSize}px;
    margin: 30px auto 40px;
    background: #ffffff;
    .pannel-header {
        height: 86px;
        padding: 40px 20px 0;
        border-bottom: 1px solid #f2f2f2;
        line-height: 1;
        .pannel-title {
            height: 24px;
            @include flex(flex-start, flex-end);
            .pannel-border {
                width: 4px;
                height: 24px;
                background: black;
            }
            .header1 {
                margin-left: 16px;
                @include font(24px, #161616);
            }
            .header2 {
                margin-left: 10px;
                @include font(16px, #ff0000);
            }
        }
    }
    .pannel-content {
        padding: 20px 40px 70px;
    }
}

// 表单
.form-container {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    .form-title {
        @include font(20px, #161616);
        line-height: 1;
        margin-bottom: 30px;
    }
    .form-group {
        margin-bottom: 20px;
        .label {
            display: inline-block;
            @include font(20px, #161616);
            margin-bottom: 10px;
        }
        .input-wrapper {
            width: 100%;
            @include flex();
            &.md {
                width: 265px;
            }
            &.long {
                width: 360px;
            }
            &.lg {
                width: 550px;
            }
            &.column-wrapper {
                @include flex-column();
                .radio-label {
                    margin-bottom: 10px;
                    margin-right: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            input[type='text'], select {
                width: 100%;
                height: 36px;
                line-height: 36px;
                @include font(14px, #161616);
                padding-left: 20px;
                border: 1px solid #c1c1c1;
                margin-left: 6px;
                &:first-child {
                    margin-left: 0;
                }
                &:hover {
                    border: 1px solid #008cd6;
                }
            }
            textarea {
                width: 100%;
                height: 120px;
                @include font(14px, #161616);
                padding-left: 20px;
                border: 1px solid #c1c1c1;
            }
            .valid-btn {
                width: 100px;
                height: 36px;
                line-height: 36px;                
                @include font(14px, #008cd6);
                margin-left: 10px;
                text-align: center;
                flex-shrink: 0;
                border: 1px solid #008cd6;
                cursor: pointer;
            }
            .textarea-tips {
                @include font(14px, #666666);
                margin-bottom: 10px;
            }
        }
        .input-wrapper + .input-wrapper {
            margin-top: 10px;
        }
        .radio-label {
            @include font(16px, #161616);
            line-height: 1;
            margin-right: 10px;
            @include flex(flex-start, center);
            input[type='radio'] {
                position: absolute;
                left: -9999px;
                visibility: hidden;
            }
            .radio-icon {
                width: 16px;
                height: 16px;
                margin-right: 10px;
                @include background('#{$imgPath}input-radio.png');
                &.checked {
                    @include background('#{$imgPath}input-radio-checked.png');
                }
            }
        }        
    }
}

// 行，列(暂时简易实现，将来可以扩展)
.row {
    @include flex();
    .col {
        &.md {
            width: 265px;
        }
        &.long {
            width: 360px;
        }
        &.lg {
            width: 550px;
        }
    }
    .col + .col {
        margin-left: 20px;
    }
}

@import "./common/footer.scss";