header {
    height: 90px;
    background: #008cd6;
    .container {
        width: 1200px;
        .brand {
            float: left;
            width: 170px;
            height: 50px;
        }
        .nav {
            
        }
    }
}

.carousel {

}