@import "./common/common.scss";
@import "./common/rest.scss";

// 常量
$imgPath: '../img/';
$pageSize: 1200;

body {
    background: #f2f2f2;
}

@import "./common/header.scss";

// 横幅
.banner {
    position: relative;
    width: 100%;
    height: 400px;
    // 放横幅图片区域
    .swiper-container {
        .img-item {
            width: 100%;
            height: 400px;
            &.bg1 {
                background: url(#{$imgPath}banner1.png) center center no-repeat;
                background-size: cover;
            }
            &.bg2 {
                background: url(#{$imgPath}banner2.png) center center no-repeat;
                background-size: cover;
            }
            &.bg3 {
                background: url(#{$imgPath}banner3.png) center center no-repeat;
                background-size: cover;
            }           
        }
    }
    // 按钮区域
    .control-wrapper {
        position: absolute;
        width: #{$pageSize}px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -#{$pageSize/2}px;
        z-index: 1000;
        @include flex(space-between, center);
        .banner-btn {
            width: 36px;
            height: 84px;
            cursor: pointer;
            &.banner-btn-left {
                background: url(#{$imgPath}banner-btn-left.png) center center no-repeat;
                background-size: 100% 100%;
                &.active {
                    background: url(#{$imgPath}banner-btn-left-active.png) center center no-repeat;
                    background-size: 100% 100%;                    
                }                
            }
            &.banner-btn-right {
                background: url(#{$imgPath}banner-btn-right.png) center center no-repeat;
                background-size: 100% 100%;   
                &.active {
                    background: url(#{$imgPath}banner-btn-right-active.png) center center no-repeat;
                    background-size: 100% 100%;                    
                }                              
            }            
        }
    }
}

// attach附加栏
.attach {
    width: 100%;
    height: 70px;
    @include flex(center, stretch);
    background: white;
    // 附加内容显示区域
    .content-wrapper {
        width: #{$pageSize}px;
        height: 100%;
        @include flex(space-between, center);
        // 左侧统计
        .statistics-box {
            @include flex(flex-start, center);
            .statistics-num {
                @include flex();
                margin-left: 10px;
                .num-item {
                    width: 20px;
                    height: 32px;
                    line-height: 32px;
                    font-size: 24px;
                    font-weight: bold;
                    color: #ffffff;
                    background: #008cd6;
                    text-align: center;
                    margin-left: 2px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            .statistics-text {
                margin-left: 14px;
                font-size: 18px;
                font-weight: bold;
                color: #666666;
                &.postfix-text {
                    margin-left: 8px;
                }
            }
        }   
        .date-box {
            .statistics-text {
                font-size: 18px;
                font-weight: bold;
                color: #666666;
            }
        } 
    }
}

// 服务栏
.service {
    width: 100%;
    height: 266px;
    @include flex-column(flex-start, center);
    .main-title {
        margin-top: 50px;
        font-size: 28px;
        font-weight: bold;
        color: #3e3e3e;
    }
    .sub-title {
        margin-top: 10px;
        font-size: 14px;
        color: #3e3e3e;
    }
    .service-box {
        margin-top: 30px;
        @include flex();
        .service-item  {
            width: 290px;
            background: #ffffff;
            padding: 6px;
            margin: 0 5px;
            cursor: pointer;
            &.active {
                box-shadow: 1px 1px 4px 1px rgba(103,103,103,.75);
            }
            .item-bg {
                width: 278px;
                height: 170px;
                &.bg-safe {
                    background: url(#{$imgPath}service-bg-safe.png) center center no-repeat;
                    background-size: 100% 100%;
                }
                &.bg-low {
                    background: url(#{$imgPath}service-bg-low.png) center center no-repeat;
                    background-size: 100% 100%;
                }
                &.bg-claim {
                    background: url(#{$imgPath}service-bg-claim.png) center center no-repeat;
                    background-size: 100% 100%;
                }
                &.bg-info {
                    background: url(#{$imgPath}service-bg-info.png) center center no-repeat;
                    background-size: 100% 100%;
                }                                                
            }
            .item-btn {
                margin: 20px auto 0;
                width: 170px;
                height: 40px;
                line-height: 40px;
                color: #ffffff;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                &.orange {
                    background: url(#{$imgPath}service-btn-bg-orange.png) center center no-repeat;
                    background-size: 100% 100%;                    
                }
                &.blue {
                    background: url(#{$imgPath}service-btn-bg-blue.png) center center no-repeat;
                    background-size: 100% 100%;                    
                }
                &.pink {
                    background: url(#{$imgPath}service-btn-bg-pink.png) center center no-repeat;
                    background-size: 100% 100%;                    
                }
                &.green {
                    background: url(#{$imgPath}service-btn-bg-green.png) center center no-repeat;
                    background-size: 100% 100%;                    
                }       
                p {
                    text-align: center;
                }                                         
            }
        }
    }
}

// 平台栏
.platform {
    position: relative;
    width: 100%;
    height: 1200px; 
    @include flex-column(flex-start, center);
    background: url(#{$imgPath}platform-bg.png) center center no-repeat;
    background-size: 100% 100%;
    .main-title {
        margin-top: 146px;
        font-size: 28px;
        font-weight: bold;
        color: white;
    }
    .sub-title {
        margin-top: 10px;
        font-size: 14px;
        color: white;
    }
    .platform-box {
        margin-top: 40px;
        &:last-child {
            margin-top: 30px;
        }
        @include flex();
        .platform-item {
            position: relative;
            width: 300px;
            height: 400px;
            border-left: 1px solid #e0e0e0;
            &:first-child {
                border-left: 0;
            }
            .item-btn {
                position: absolute;
                width: 182px;
                height: 40px;
                line-height: 40px;
                left: 59px;
                top: 300px;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .item-style-1 {
            background: url(#{$imgPath}platform-item-bg-orange.png) center center no-repeat;
            background-size: 100% 100%;  
            color: #ffffff;  
            .item-content {
                margin-top: 30px;
                margin-left: 59px;
                .box1 {
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 1;
                }
                .box2 {
                    margin-top: 14px;
                    font-size: 28px;
                    line-height: 1;
                }
                .box3 {
                    margin-top: 24px;
                    font-size: 30px;
                    line-height: 1;
                }
            }            
            .item-btn {
                background: #ffffff;
                color: #fb850f;
            }            
        }
        .item-style-2 {
            background: url(#{$imgPath}platform-item-bg-blue.png) center center no-repeat;
            background-size: 100% 100%;  
            color: #ffffff;  
            .item-btn {
                color: #008cd6;
            }             
            .item-content {
                margin-top: 30px;
                margin-left: 59px;
                .box1 {
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 1;
                }
                .box2 {
                    margin-top: 14px;
                    font-size: 28px;
                    line-height: 1;
                }
                .box3 {
                    margin-top: 24px;
                    font-size: 30px;
                    line-height: 1;
                }
            }             
        }
        .item-style-3 {
            background: #ffffff;
            text-align: center;
            border-left: 0;
            .item-content {
                margin-top: 80px;
                .box1 {
                    font-size: 26px;
                    color: #161616;
                    line-height: 1;
                }
                .box2 {
                    margin: 18px auto 0;
                    width: 140px;
                    height: 27px;
                    font-size: 18px;
                    color: #ff0000;
                    background: url(#{$imgPath}platform-item-jmyq-bg.png) center center no-repeat;
                    background-size: 100% 100%;                         
                }
                .box3 {
                    margin-top: 50px;
                    font-size: 20px;
                    color: #666666;
                    line-height: 1;
                    .red {
                        font-size: 40px;
                        font-weight: bold;
                        color: #ff0000;
                        vertical-align: sub;
                    }                        
                }
                .box4 {
                    @extend .box3;
                    margin-top: 22px;
                }
                .item-img1 {
                    width: 164px;
                    height: 82px;
                    margin-top: 42px;
                }
                .item-img2 {
                    width: 100px;
                    height: 86px;
                    margin-top: 22px;
                }
            }       
            .item-btn {
                background: #fb850f;
                color: #ffffff;    
                a {
                    color: #ffffff;
                }                
            }                 
        }     
        .item-style-4 {
            background: url(#{$imgPath}platform-item-claim-bg.png) center center no-repeat;
            background-size: 100% 100%;   
            border-left: 0;
            .item-content {
                margin: 286px auto 0;
                width: 240px;
                height: 90px;
                background: rgba(22, 22, 22, 0.3);
                text-align: center;
                color: white;
                .box1 {
                    font-size: 22px;
                    padding-top: 22px;
                    line-height: 1;
                }
                .box2 {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }          
        }
        .item-style-5 {
            background: #ffffff;
            .item-content {
                position: relative;
                line-height: 1;
                .box1 {
                    text-align: center;
                    font-size: 26px;
                    color: #161616;
                    line-height: 1;
                    padding-top: 46px;
                }
                .box2 {
                    position: absolute;
                    top: 154px;
                    left: 40px;
                    font-size: 16px;
                    color: #008cd6;
                    font-weight: bold;
                    .bigger {
                        font-size: 28px;
                    }                    
                }
                .item-img1 {
                    position: absolute;
                    width: 150px;
                    height: 170px;
                    top: 220px;
                    left: 136px;
                }
                .item-img2 {
                    position: absolute;
                    width: 120px;
                    height: 196px;
                    top: 204px;
                    left: 150px;
                }
            }                    
        }
    }
}

// 动态
.trends {
    margin-top: 80px;
    width: 100%;
    @include flex-column(flex-start, center);
    // 最新动态
    .new-trend {
        width: 1200px;
        height: 220px;
        @include flex();
        background: white;
        .new-trend-bg {
            flex: 1 1 400px;
            height: 100%;
            position: relative;
            background: url(#{$imgPath}new-trend-bg.png) center center no-repeat;
            background-size: 100% 100%;           
            .new-treng-bg-tips {
                position: absolute;
                top: 25px;
                width: 120px;
                height: 30px;
                line-height: 30px;
                background: #008cd6;
                font-size: 16px;
                font-weight: bold;
                color: white;
                text-align: center;
            }
        }
        .new-trend-container {
            flex: 1 1 800px;
            height: 220px;
            padding: 0 20px;
            .title-line {
                @include flex(space-between);
                padding-top: 35px;
                padding-bottom: 8px;
                line-height: 1;
                border-bottom: 1px solid #e0e0e0;
                .title {
                    font-size: 16px;
                    font-weight: bold;
                    color: #161616;
                }
                .date {
                    font-size: 14px;
                    color: #666666;
                }
            }
            .content {
                padding-top: 10px;
                width: 100%;
                height: 130px;
                overflow-x: hidden;
                overflow-y: auto;
                font-size: 14px;
                color: #666666;
            }
        }
    }
    // 动态内容 + 常见问题
    .trend-container {
        width: 1200px;
        height: 260px;
        margin-top: 40px;
        margin-bottom: 100px; // test
        @include flex(space-between);
        .trend-box {
            position: relative;
            flex: 0 1 590px;
            height: 100%;
            background: white;
            .trend-icon {
                position: absolute;
                width: 18px;
                height: 18px;
                left: 12px;
                top: 18px;
                background: url(#{$imgPath}trend-icon.png) center center no-repeat;
                background-size: 100% 100%;                   
            }
            .box-head {
                height: 44px;
                @include flex(space-between);
                padding: 20px 20px 0 30px;
                border-bottom: 1px solid #e0e0e0;
                .tabs {
                    @include flex();
                    .tab-item {
                        width: 88px;
                        font-size: 16px;
                        line-height: 1;
                        color: #161616;
                        text-align: center;
                        border-right: 1px solid #e0e0e0;
                        cursor: pointer;
                        &.active {
                            color: #008cd6;
                        }
                    }
                }
                .more-link {
                    font-size: 14px;
                    color: #666666;
                    cursor: pointer;
                }
            }
            .box-content {
                display: none;
                height: 216px;
                padding: 20px 20px 20px 30px;
                overflow-y: auto;
                &.active {
                    display: block;
                }
                .message-item {
                    @include flex(space-between);
                    cursor: pointer;
                    margin-bottom: 18px;
                    .item-title {
                        font-size: 14px;
                        color: #161616;
                        line-height: 1;
                        @include flex(flex-start, center);
                        .item-icon {
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            border: 1px solid #008cd6;
                            margin: 0 10px;
                        }                            
                    }
                    .item-date {
                        font-size: 12px;
                        color: #666666;
                    }
                }
            }
        }
        .faq-box {
            position: relative;
            flex: 0 1 590px;
            height: 100%;
            background: white;
            .faq-icon {
                position: absolute;
                width: 18px;
                height: 18px;
                left: 12px;
                top: 18px;
                background: url(#{$imgPath}faq-icon.png) center center no-repeat;
                background-size: 100% 100%;                   
            }
            .faq-head {
                height: 44px;
                @include flex(space-between);
                padding: 20px 20px 0 30px;
                border-bottom: 1px solid #e0e0e0;
                margin-left: 16px;
                .head-title {
                    font-size: 16px;
                    line-height: 1;
                    color: #161616;                    
                }
                .more-link {
                    font-size: 14px;
                    color: #666666;
                    cursor: pointer;
                }                
            }
            .faq-content {
                height: 216px;
                padding: 20px 20px 20px 30px;
                overflow-y: auto;   
                .faq-main {
                    @include flex(flex-start, center);
                    height: 54px;
                    background: #efeaee;
                    padding: 0 14px;
                    .faq-main-icon {
                        width: 36px;
                        height: 36px;
                        background: url(#{$imgPath}faq-main-icon.png) center center no-repeat;
                        background-size: 100% 100%;                         
                    }
                    .faq-main-content {
                        padding-left: 12px;
                        p {
                            font-size: 14px;
                            color: #161616;
                            &.bold {
                                font-weight: bold;
                            }
                        }
                    }
                } 
                .faq-list {
                    margin-top: 20px;
                    .faq-item {
                        font-size: 14px;
                        color: #161616;
                        margin-top: 18px;
                    }
                }            
            }
        }
    }
}

// 合作伙伴
.partners {
    width: 100%;
    height: 350px;
    @include flex-column(flex-start, center);
    background: #008ed7;
    .main-title {
        margin-top: 50px;
        font-size: 28px;
        font-weight: bold;
        color: white;        
    }
    .sub-title {
        margin-top: 10px;
        font-size: 14px;
        color: white;
    }    
    .partners-wrapper {
        margin-top: 40px;
        position: relative;
        width: #{$pageSize}px;
    }
    .partners-box {
        width: 1060px;
        margin: 0 auto;
        .partners-list {
            @include flex();
            .partner-item {
                width: 158px;
                height: 58px;
                margin-left: 67px;
                cursor: pointer;
                &:first-child {
                    margin-left: 0;
                }
                &.p1 {
                    @include background('#{$imgPath}partner1.png');
                }
                &.p2 {
                    @include background('#{$imgPath}partner2.png');
                }
                &.p3 {
                    @include background('#{$imgPath}partner3.png');
                }
                &.p4 {
                    @include background('#{$imgPath}partner4.png');
                }
                &.p5 {
                    @include background('#{$imgPath}partner5.png');
                }
                &.p6 {
                    @include background('#{$imgPath}partner6.png');
                }
                &.p7 {
                    @include background('#{$imgPath}partner7.png');
                }
                &.p8 {
                    @include background('#{$imgPath}partner8.png');
                }
                &.p9 {
                    @include background('#{$imgPath}partner9.png');
                }
                &.p10 {
                    @include background('#{$imgPath}partner10.png');
                }
            }
        }
        .partners-list + .partners-list {
            margin-top: 26px;
        }
    }
    .partners-btn {
        position: absolute;
        width: 36px;
        height: 84px;        
        top: 50%;
        margin-top: - 42px;    
        cursor: pointer;    
        z-index: 1000;
        &.partners-btn-left {
            left: 0px; 
            background: url(#{$imgPath}banner-btn-left.png) center center no-repeat;
            background-size: 100% 100%;
            &.active {
                background: url(#{$imgPath}banner-btn-left-active.png) center center no-repeat;
                background-size: 100% 100%;                    
            }                
        }
        &.partners-btn-right {
            right: 0px;
            background: url(#{$imgPath}banner-btn-right.png) center center no-repeat;
            background-size: 100% 100%;   
            &.active {
                background: url(#{$imgPath}banner-btn-right-active.png) center center no-repeat;
                background-size: 100% 100%;                    
            }                              
        } 
    }    
}

@import "./common/footer.scss";